td {
  cursor: pointer;
}

.my-wrapper {
  min-height: 592px;
  padding-top: 20px;
  min-width: 370px;
  border: 1px solid lightgrey;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-decorator {
  font-size: 11px;
}

.table__search {
  max-width: 160px;
}

@media (min-width: 53rem) {
  .my-wrapper {
    width: 700px;
  }
  .table-decorator {
    font-size: 14px;
  }

  .table__search {
    font-size: 14px;
  }
}

.custom-select {
  font-size: 13px;
  height: 33px;

}

.amount-expense {
  color: red;
}

.amount-income {
  color: green;
}
