td {
  cursor: pointer;
}

.my-wrapper {
  max-width: 1200px;
  margin: auto;
}

.title {
  font-size: 2rem;
  color: #272C66;
  padding-left: 2rem;
  text-shadow: #999999 2px 2px 3px;
}

.table-decorator {
  font-size: 0.6rem;
}

.table__search {

}

@media (min-width: 35rem) {
  .table-decorator {
    font-size: 1rem;
  }

  .table__search {

  }
}

.custom-select {
  font-size: 13px;
  height: 33px;

}

.amount-expense {
  color: red;
}

.amount-income {
  color: green;
}
