<div class="table-responsive pt-3 mb-3 shadow bg-white rounded" style="margin-top: 1rem">
  <form>
    <div fxLayout="row" fxLayoutGap="10px">
      <div class="form-group ml-2 form-inline">
        Search: <input class="form-control form-control-sm ml-2 mr-4 table__search" type="text" name="searchTerm" [(ngModel)]="transactionsService.searchTerm" />
      </div>
      <div class="spinner-border text-primary" role="status" *ngIf="transactionsService.loading$ | async">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <table class="table table-sm table-hover table-decorator table-striped">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
        <th scope="col" sortable="subCategory" (sort)="onSort($event)">Subcategory</th>
        <th scope="col" sortable="account" (sort)="onSort($event)">Account</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactionsList$ | async">
        <td>{{ transaction.date | date: 'MMM dd yyyy' }}</td>
        <td><ngb-highlight [result]="transaction.category" [term]="transactionsService.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="transaction.subCategory" [term]="transactionsService.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="transaction.account" [term]="transactionsService.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="transaction.description" [term]="transactionsService.searchTerm"></ngb-highlight></td>
        <td>
          <div [ngClass]="{'amount-income': transaction.type === 'INCOME' || transaction.subCategory === 'In',
          'amount-expense': transaction.type === 'EXPENSE' || transaction.subCategory === 'Out'}">
            {{transaction.amount | currency}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        size="sm" [collectionSize]="total$ | async" [(page)]="transactionsService.page" [pageSize]="transactionsService.pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="transactionsService.pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
      </select>
    </div>
  </form>
</div>
