td {
  cursor: pointer;
}

.my-wrapper {
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.table-decorator {
  font-size: 0.7rem;
}

.table__search {

}

@media (min-width: 35rem) {
  .my-wrapper {
    width: 700px;
  }
  .table-decorator {
    font-size: 0.875rem;
  }

  .table__search {

  }
}

.custom-select {
  font-size: 13px;
  height: 33px;

}

.amount-expense {
  color: red;
}

.amount-income {
  color: green;
}
