td {
  cursor: pointer;
}

label {
  margin: 0;
}

.my-wrapper {

}

.title {
  font-size: 1.3rem;
  color: #272C66;
  padding-left: 2rem;
  text-shadow: #999999 2px 2px 3px;
}

.a-button {
  cursor: pointer;
  color: #467BFF!important;
}

.a-button:hover {
  color: #0069d9!important;
}

.table-decorator {
  font-size: 0.65rem;
}

.table__search {

}

@media (min-width: 35rem) {
  .table-decorator {
    font-size: 0.875rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .table__search {

  }
}

.custom-select {
  font-size: 13px;
  height: 33px;

}

.amount-expense {
  color: red;
}

.amount-income {
  color: green;
}
