<div class="my-wrapper">

  <ngb-tabset justify="center">

    <ngb-tab id="tab_1" title="Accounts">
      <ng-template ngbTabContent>
        <div class="my-border">
          <app-summary-acc></app-summary-acc>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab_2" title="Expenses">
      <ng-template ngbTabContent>
        <div class="my-border">
          <app-summary-exp-inc typeOfTransactions="EXPENSE"></app-summary-exp-inc>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab_3" title="Incomes">
      <ng-template ngbTabContent>
        <div class="my-border">
          <app-summary-exp-inc typeOfTransactions="INCOME"></app-summary-exp-inc>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>
