.my-wrapper {
  width: 360px;
  margin: auto;
  /*margin-top: 2rem;*/
}

.my-border {
  position: relative;
  padding: 1rem 1rem 4.75rem;
  border: 1px solid rgba(0,0,0,.125);
  border-top: none;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

@media (min-width: 60rem) {
  .my-wrapper {
    width: 450px;
  }
}
