.my-wrapper {
  /*min-width: 290px;*/
  margin-top: 2rem;
}

.my-border {
  position: relative;
  padding: 1rem 1rem 4.75rem;
  border: 1px solid rgba(0,0,0,.125);
  border-top: none;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

@media (min-width: 48rem) {
  .my-wrapper {
    margin-top: 0;
  }
}
