.my-wrapper {
  position: relative;
}

.my-border {
  width: 370px;
  height: 550px;
  padding: 20px 20px 20px 20px;
  border: 1px solid lightgrey;
  border-top: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
