<div class="my-wrapper mt-3">
  <hr>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="title">Transactions</div>
    <button type="button" class="btn btn-danger btn-sm" (click)="onClose()">X</button>
  </div>
  <hr>
  <ngb-tabset justify="center">

    <ngb-tab title="Expense">
      <ng-template ngbTabContent>
        <div class="my-border shadow">
          <app-expense></app-expense>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Income">
      <ng-template ngbTabContent>
        <div class="my-border shadow">
          <app-income></app-income>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Transfer">
      <ng-template ngbTabContent>
        <div class="my-border shadow">
          <app-transfer></app-transfer>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>
