<div class="my-wrapper mt-3">
  <hr>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="title">Transactions</div>
    <a role="button" (click)="onClose()" class="a-button mr-4">
      <span style="margin-right: 0.5rem">
        <fa-icon [icon]="faTimesCircle" size="lg"></fa-icon>
      </span></a>
  </div>
  <hr>
  <ngb-tabset justify="center">

    <ngb-tab title="Expense">
      <ng-template ngbTabContent>
        <div class="my-border shadow">
          <app-expense></app-expense>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Income">
      <ng-template ngbTabContent>
        <div class="my-border shadow">
          <app-income></app-income>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Transfer">
      <ng-template ngbTabContent>
        <div class="my-border shadow">
          <app-transfer></app-transfer>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>
