.nav__main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  background: #467BFF;
  color: whitesmoke;
  height: 4.5rem;
}

#brand {
  font-size: 1.5rem;
  text-shadow: #272C66 3px 3px 3px;
}

