<div class="card m-3">
  <div class="card-body" fxLayout fxLayoutAlign="space-between center" fxLayoutGap="1rem">
    <div class="input-group input-group-sm ml-3" fxFlex="45">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Strategy</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option *ngFor="let opt of strategy" [value]="opt.value">{{ opt.name }}</option>
      </select>
    </div>
    <div class="input-group input-group-sm" fxFlex="45">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Payment</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div fxFlex>
      <button class="btn btn-success btn-circle btn-circle-sm mr-3 ml-3">
        <fa-icon [icon]="faPlus" class="icon"></fa-icon>
      </button>
    </div>
  </div>
</div>
