<div class="card m-3 shadow">
  <div class="card-body" fxLayout.gt-md fxLayoutAlign.gt-md="space-between center">

    <div class="input-group input-group-sm mb-2 mb-md-0" fxFlex.gt-md="55%">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          Min <strong class="ml-1 mr-1">{{ sumMinPayment | currency }}</strong> +</span>
      </div>
      <input [value]="extraPayment" (input)="onExtraPaymentInput($event.target.valueAsNumber)" (change)="onExtraPaymentChange()"
             type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      <div class="input-group-append">
        <span class="input-group-text">=<strong class="ml-1 mr-1">{{ totalPayment | currency }}</strong></span>
      </div>
    </div>

    <div class="input-group input-group-sm mb-2 mb-md-0" fxFlex.gt-md="35%">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Strategy</label>
      </div>
      <select (change)="onStrategyChange($event)" class="custom-select" id="inputGroupSelect01">
        <option *ngFor="let opt of strategy" [value]="opt.name">{{ opt.name }}</option>
      </select>
    </div>

    <div fxLayout fxLayoutAlign="end" fxFlex.gt-md="5%">
      <button class="btn btn-success btn-circle btn-circle-sm" (click)="onNewDebt(null)"
              data-toggle="tooltip" data-placement="left" title="New Debt"
              data-toggle="modal" data-target="#debtModal">
        <fa-icon [icon]="faPlus" class="icon"></fa-icon>
      </button>
    </div>
    <app-edit-debt></app-edit-debt>
  </div>
</div>
