<div fxLayout="row" fxLayoutAlign="space-evenly">

  <div fxFlex="350px" fxFlex.lt-lg="280px" fxHide.lt-md></div>

  <div fxLayout="row wrap" fxLayoutGap="5rem" fxLayoutGap.lt-lg="0" fxFlex>

    <div class="item" fxFlex="40" fxFlex.lt-lg="95" fxFlex.lt-md="100">
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="item" fxFlex="40" fxFlex.lt-lg="95" fxFlex.lt-md="100">
      <app-line-chart></app-line-chart>
    </div>
    <div class="item" fxFlex="40" fxFlex.lt-lg="95" fxFlex.lt-md="100">
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="item" fxFlex="40" fxFlex.lt-lg="95" fxFlex.lt-md="100">
      <app-bar-chart></app-bar-chart>
    </div>

  </div>

</div>
