<div class="container my-wrapper">

  <ngb-tabset justify="center">

    <ngb-tab title="Expense">
      <ng-template ngbTabContent>
        <div class="my-border">
          <app-expence></app-expence>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Income">
      <ng-template ngbTabContent>
        <div class="my-border">
          <app-income></app-income>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Transfer">
      <ng-template ngbTabContent>
        <div class="my-border">
          <app-transfer></app-transfer>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>
