/*.my-container>.row {
  margin: 0;
}*/
/*
.container-for-row {
  border: 1px solid orange;
}
.cont {
  border: 1px solid green;
}
.item {
  border: 1px solid red;
}

.test {
  max-width: 1000px;
}*/
