a {
  text-decoration: none;
  display: block;
}

.view-port {
  height: 370px;
  overflow-y: auto;
}


a.category-names {
  margin-left: 0;
}

.category-names {
  margin-left: 20px;
}

.category-names:hover {
  cursor: pointer;
  background: whitesmoke;
}

.summary__container--total {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 85%;
}

.summary__hr {
  width: 90%;
  position: absolute;
  bottom: 50px;
  left: 25px;
}

