<div class="view-port">
  <div class="accordion" id="accordion">
    <div class="test" *ngFor="let group of groups">
      <a fxLayout="row" fxLayoutAlign="space-between" class="" data-toggle="collapse" [href]="'#' + group.name"
         role="button" aria-expanded="false" aria-controls="collapse">
        <div fxFlex fxLayout fxLayoutAlign="space-between">
          <div style="padding: 10px">{{ group.name }}</div>
          <div style="padding: 10px">{{ group.spent | currency }}</div>
        </div>
      </a>

      <div [id]="group.name" class="collapse">
        <div class="acc-names" *ngFor="let subGroup of group.groupSubcategoryList" fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex fxLayout fxLayoutAlign="space-between">
            <div style="padding: 10px">{{ subGroup.name }}</div>
            <div style="padding: 10px">{{ subGroup.spent | currency }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="summary__hr">
</div>
<div class="summary__container--total" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutGap="5px">
    <div>Total:</div>
    <div><strong>{{ totalSpent | currency }}</strong></div>
  </div>
  <app-lanu-month-paginator></app-lanu-month-paginator>
</div>

<!--
<mat-accordion>
  <mat-expansion-panel *ngFor="let group of groups" style="margin-bottom: 1px" (opened)="onCategorySelect(group.name)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div fxFlex fxLayout fxLayoutAlign="space-between">
          <div style="margin-left: 15px">{{ group.name }}</div>
          <div>{{ group.spent | currency }}</div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item *ngFor="let subGroup of group.groupSubcategoryList"
         (click)="onSubcategorySelect(subGroup.name)">
        <div fxFlex fxLayout fxLayoutAlign="space-between">
          <div style="margin-left: 15px">{{ subGroup.name }}</div>
          <div>{{ subGroup.spent | currency }}</div>
        </div>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
-->
