<div class="view-port">
  <div class="accordion" id="accordion">
    <div class="test" *ngFor="let group of groups">
      <a fxLayout="row" fxLayoutAlign="space-between" class="category-names" data-toggle="collapse" [href]="'#' + group.name"
         role="button" aria-expanded="false" aria-controls="collapse" (click)="onCategorySelect(group.name)">
        <div fxFlex fxLayout fxLayoutAlign="space-between">
          <div style="padding: 10px">{{ group.name }}</div>
          <div style="padding: 10px">{{ group.spent | currency }}</div>
        </div>
      </a>

      <div [id]="group.name" class="collapse">
        <div class="category-names" *ngFor="let subGroup of group.groupSubcategoryList" fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex fxLayout fxLayoutAlign="space-between">
            <div style="padding: 10px" (click)="onSubcategorySelect(subGroup.name)">{{ subGroup.name }}</div>
            <div style="padding: 10px">{{ subGroup.spent | currency }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="summary__hr">
</div>
<div class="summary__container--total" fxLayout="row" fxLayoutAlign="space-between">
  <app-lanu-month-paginator (monthChange)="onMonthChange($event)"></app-lanu-month-paginator>
  <div fxLayout="row" fxLayoutGap="5px">
    <div>Total:</div>
    <div><strong>{{ totalSpent | currency }}</strong></div>
  </div>
</div>
